body{
    background-color: #F4F0E5;
    color: #061C42;
    background-size: cover;
    min-height: 100%;
}
.main-content{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
}
.main-content img{
    width: 125px;
    margin-bottom: 35px;
}
.main-content > p{
    margin-bottom: 35px;
}
.main-content a{
    color: #061C42;
    text-decoration: underline;
    /*padding: 15px 35px;*/
    /*border: 2px solid #000;*/
    transition: 0.5s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.main-content-cont{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 50px;
    float: right;
}

@media (min-width: 600px){
    .main-content h3{
        font-size: 16px;
    }
}
