body{
    background-color: #F4F0E5;
    color: #061C42;
    background-size: cover;
}
.main-content{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
}
.main-content img{
    width: 125px;
    margin-bottom: 35px;
}
.main-content > p{
    margin-bottom: 35px;
}
.main-content a{
    color: #fff;
    text-decoration: underline;
    padding: 15px 35px;
    background-color: #061C42;
    border-radius: 100px;
    transition: 0.5s ease-in-out;
}
.main-content a:hover{
    background-color: rgba(6, 28, 66, 0.7);
}

@media (min-width: 600px){
    .main-content h3{
        font-size: 16px;
    }
}
